absl-py==1.4.0
aesara==2.9.3
appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1649077682618/work
arviz==0.12.1
astor @ file:///home/conda/feedstock_root/build_artifacts/astor_1593610464257/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1670263926556/work
astunparse==1.6.3
autograd @ file:///home/conda/feedstock_root/build_artifacts/autograd_1687792649724/work
autograd-gamma @ file:///home/conda/feedstock_root/build_artifacts/autograd-gamma_1602812384676/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
blackjax @ file:///home/conda/feedstock_root/build_artifacts/blackjax_1665038758474/work
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1666764778428/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools @ file:///tmp/build/80754af9/cachetools_1619597386817/work
certifi==2022.12.7
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1671179432479/work
cftime==1.6.3
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1678108872112/work
ci-info==0.3.0
click==8.1.7
cloudpickle @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_da31odypvn/croot/cloudpickle_1683040013858/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1679481329611/work
configobj==5.0.8
configparser==6.0.0
cons @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_3a2dshzn6k/croot/cons_1689710787208/work
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1673633839610/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography-split_1681508750482/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
debugpy @ file:///Users/runner/miniforge3/conda-bld/debugpy_1680755636886/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
deprecat==2.1.1
dill==0.3.7
etelemetry==0.3.0
etils @ file:///home/conda/feedstock_root/build_artifacts/etils_1702334456477/work
etuples @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d0wkfhu87r/croot/etuples_1689713286668/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1667317341051/work
fastprogress @ file:///tmp/build/80754af9/fastprogress_1634699150215/work
filelock==3.12.4
fitz==0.0.1.dev2
flatbuffers==23.3.3
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1680021442212/work
formulaic @ file:///home/conda/feedstock_root/build_artifacts/formulaic_1696462096885/work
future @ file:///home/conda/feedstock_root/build_artifacts/future_1673596611778/work
gast==0.4.0
google-auth==2.17.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphlib-backport @ file:///home/conda/feedstock_root/build_artifacts/graphlib-backport_1635566048409/work
graphviz==0.20.1
grpcio @ file:///Users/runner/miniforge3/conda-bld/grpcio_1653138941901/work
h5netcdf @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_3925xa99f3/croot/h5netcdf_1689252922662/work
h5py @ file:///Users/runner/miniforge3/conda-bld/h5py_1637964045648/work
httplib2==0.22.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1682176699712/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1676919000169/work
interface-meta @ file:///home/conda/feedstock_root/build_artifacts/interface_meta_1649035999670/work
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1679336661730/work
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1682783380619/work
isodate==0.6.1
jax @ file:///home/conda/feedstock_root/build_artifacts/jax_1664394249290/work
jaxlib==0.3.14
jaxopt @ file:///home/conda/feedstock_root/build_artifacts/jaxopt_1704895174636/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1669134318875/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1663332044897/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1681432441054/work
jupyter_core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1678994282905/work
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1666805901953/work
libclang==16.0.0
lifelines @ file:///home/conda/feedstock_root/build_artifacts/lifelines_1694622406405/work
llvmlite==0.39.1
logical-unification @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_b77bfiz2cl/croot/logical-unification_1689693237060/work
looseversion==1.3.0
lxml==4.9.3
Mako @ file:///home/conda/feedstock_root/build_artifacts/mako_1699482234420/work
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1678135761655/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
miniKanren @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_55m1p3lf1q/croot/minikanren_1689759084358/work
ml-dtypes==0.1.0
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
multipledispatch @ file:///Users/ktietz/demo/mc3/conda-bld/multipledispatch_1629282739158/work
munkres==1.1.4
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1664684991461/work
netCDF4==1.6.5
networkx==3.1
nibabel==5.1.0
nipype==1.8.6
numba @ file:///Users/runner/miniforge3/conda-bld/numba_1680825538612/work
numpy==1.22.1
numpyro @ file:///home/conda/feedstock_root/build_artifacts/numpyro_1695555378161/work
nutpie @ file:///Users/runner/miniforge3/conda-bld/nutpie_1684782479543/work/target/wheels/nutpie-0.5.1-cp39-cp39-macosx_11_0_arm64.whl#sha256=565322fa2acee08fb26e84f42d381d3c1acf342246bfa11196cd32d8fe00d370
oauthlib==3.2.2
opencv-contrib-python==4.7.0.72
opencv-python==4.7.0.72
opt-einsum @ file:///home/conda/feedstock_root/build_artifacts/opt_einsum_1696448916724/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1681337016113/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1682331622303/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
pathlib==1.0.1
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1665356157073/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1667297516076/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1680694466475/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1682644429438/work
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1679580333621/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1677600924538/work
protobuf==3.19.6
prov==2.0.0
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1681775391262/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydot==1.4.2
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1681904169130/work
pygpu==0.7.6
pymc @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_c2tnq5s1h2/croot/pymc_1690886191224/work
pymc3 @ file:///home/conda/feedstock_root/build_artifacts/pymc3_1602091536109/work
PyMuPDF==1.23.4
PyMuPDFb==1.23.3
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1680037383858/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pytensor @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_fb4x77hh5y/croot/pytensor_1690554043881/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1680088766131/work
pyxnat==1.6
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1679317030621/work
rdflib==7.0.0
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1682535435083/work
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1679676198900/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1687995648049/work/base/dist/scipy-1.11.1-cp39-cp39-macosx_11_0_arm64.whl#sha256=96907c0df8a8b6c557093438ba275c5f69f863fb02dc1d67419ddf6cc461e850
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1672497695270/work
semver==3.0.2
simplejson==3.19.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
statsmodels @ file:///Users/runner/miniforge3/conda-bld/statsmodels_1667586190865/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1684180539862/work
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.12.0
tensorflow-macos==2.8.0
termcolor==2.3.0
tf-estimator-nightly==2.8.0.dev2021122109
Theano @ file:///Users/runner/miniforge3/conda-bld/theano_1647410496311/work
Theano-PyMC==1.1.2
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
toolz @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_362wyqvvgy/croot/toolz_1667464079070/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1681817636019/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1691671248568/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1675110562325/work
traits==6.3.2
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1678559861143/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1680081134351/work
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1667239959992/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1678635778344/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1673864653149/work
Werkzeug==2.3.2
wrapt==1.14.1
xarray==2023.11.0
xarray-einstats @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_504z2mqy_k/croot/xarray-einstats_1689079322837/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1677313463193/work
